@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #2d3436;
}

.loader {
    z-index: 10;
    position: fixed;
    display: flex;
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fcf000;
    font-size: 70px;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s;
}

header {
    position: relative;
    padding: 5px;
    color: #fcf000;
    background-color: #000;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.navbar {
    padding: 2px;
    display: grid;
    grid-template-areas: "navbrand . navclosebutton";
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.navbar a {
    color: #FFF;
}

.spin-animate svg {
    animation: spin 2s linear infinite;
}

.brand {
    grid-area: navbrand;
    font-size: 1.7em;
    font-weight: bold;
    color: #fcf000 !important;
    display: flex;
}

.brand::before {
    content: "( ";
}

.brand::after {
    content: " )";
}

.brand a {
    color: #fcf000;
}

#main-menu {
    grid-area: navmenu;
    position: fixed;
    top: 7px;
    width: 0%;
    height: 100%;
    background-color: #000;
    color: #fcf000;
    margin: -7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition: width .5s, visibility .4s, opacity .5s;
    z-index: 2;
}

#main-menu a {
    color: #fcf000;
    /*font-weight: bold;*/
}

#main-menu li {
    padding: 20px;
}

#main-menu li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-menu li:first-child {
    position: absolute;
    right: 0;
    top: 0;
}

#menu-button-navbar {
    grid-area: navclosebutton;
}

.header-back {
    width: 100%;
    background-color: #fcf000;
    background-image: url(working-code.jpg);
    background-repeat: no-repeat;
    height: 0;
    background-blend-mode: overlay;
    background-size: 100% auto;
}

main {
    position: relative;
    min-height: 300px;
}

article {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 15px 0;
    background: #FFF;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 10px;
    color: #404040;
}

article .thumbnail {
    width: calc(100% + 20px);
    height: 240px;
    margin: -10px -10px 20px -10px;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #fcf000;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.6);
}
article p{
    margin-top: 20px;
    margin-bottom: 20px;
}
article a{
    color: #d8cd01;
    text-decoration: underline;
    text-shadow: 0px 0px 1px #fff;
}
article ul{
    margin-left: 40px;
    list-style: circle;
}
article ol{
    margin-left: 40px;
}
article hr{
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
.main-header, .secondary-header {
    display: grid;
    padding: 5px;
}

.main-header{
    background-color: #fcf000;
}
.post-header{
    margin-bottom: -15px;
}
.main-title {
    order: 2;
    justify-self: center;
    align-self: center;
    padding: 10px 0;
}

.post-header .main-title{
    font-size: 2.1em;
}

.main-social {
    order: 1;
    justify-self: center;
    align-self: center;
    padding: 10px 0;
}
.main-social a{
    color: #000;
    transition: all 0.8s;
}
.main-social a:hover{
    color: #d8cd01;
}

.main-date {
    order: 3;
    justify-self: center;
    align-self: center;
    padding: 10px 0;
    font-weight: bold;
}

.main-body, .secondary-body {
    display: grid;
    /*grid-template-columns: 1fr;*/
    gap: 5px;
}

.main-body .card {
    background-color: #fff;
    padding: 5px;
    position: relative;
    transition: box-shadow 500ms, transform 0.5s;
}

.main-body .card:hover {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
    transform: scale(1.008);
}

.main-body .card img, .secondary-body .card img {
    width: 100%;
    height: 100%;
    position: relative;
}

.main-body .card h3 {
    position: absolute;
    bottom: 5px;
    padding: 10px 0 10px 10px;
    width: calc(100% - 10px);
    background: rgba(0, 0, 0, 0.6);
}

.main-body .card h3 a {
    color: #FFF;
    text-shadow: 0 0 1px #000;
}

.main-body .card .date {
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: #FFF;
}

.pagination, .pagination ul {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.pagination ul {
    list-style: none;
}

.pagination ul li {
    padding: 3px 5px;
}

section.secondary {
    background: #b2bec3;
    padding: 10px 0;
}

.secondary-header {
    margin: 10px 0;
}

.secondary-body {
    display: grid;
    gap: 5px;
    position: relative;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
}

.secondary-body .card {
    padding: 5px;
    position: relative;
}

.secondary-body h3 {
    position: absolute;
    top: 0;
    padding: 10px;
}

.secondary-body h3 a {
    color: #000;
    text-shadow: 0 0 1px #fff;
}

.secondary-body p.duration {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.5);
}

.secondary-footer p {
    text-align: right;
}

footer {
    position: relative;
    width: 100%;
    height: 100px;
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
}
footer .container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: space-between;
    padding: 20px 0;
}
footer .container .copyright{
    align-self: flex-end;
    text-align: center;
}
@media (min-width: 480px) {
    .main-body {
        grid-template-columns: repeat(2, 1fr);
    }
    .secondary-body {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .navbar {
        grid-template-areas: "navbrand navmenu";
        grid-template-columns: 1fr 1fr;
    }
    #main-menu {
        position: relative;
        background-color: transparent;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        visibility: visible;
        opacity: 1 !important;
        visibility: visible !important;
        width: initial !important;
        top: 0;
    }
    #main-menu li:first-child {
        display: none;
    }
    #main-menu li a {
        flex-direction: row;
        gap: 5px;
        color: #fff;
    }
    #menu-button-navbar {
        display: none;
    }
    .header-back {
        height: 400px;
        position: absolute;
    }
    main {
        margin-top: 66px !important;
        padding: 0 15px;
    }
    .main-header {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        background-color: transparent;
        margin-bottom: 0;
    }
    .main-title {
        order: 1;
        justify-self: left;
    }
    .main-social {
        order: 2;
        justify-self: right;
    }
    .main-date{
        order: 3;
        justify-self: left;
    }
    .main-body {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .navbar, main, .container {
        max-width: 1024px;
        margin: 0 auto;
    }
    .main-body {
        grid-template-columns: repeat(6, 1fr);
    }
    .main-body .card:first-child {
        grid-column: 1/5;
        grid-row: 1/3;
        font-size: 24px;
    }
    .main-body .card:nth-child(2) {
        grid-column: 5/7;
        grid-row: 1/2;
    }
    .main-body .card:nth-child(3) {
        grid-column: 5/7;
        grid-row: 2/3;
    }
    .main-body .card:nth-child(4) {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .main-body .card:nth-child(5) {
        grid-column: 3/5;
        grid-row: 3/4;
    }
    .main-body .card:nth-child(6) {
        grid-column: 5/7;
        grid-row: 3/4;
    }
    .main-body .card:nth-child(n+7) {
        max-height: 150px;
    }
    .main-body .card:nth-child(n+7) .date {
        position: relative;
        bottom: 20px;
        top: initial;
        width: max-content;
        left: 30px;
        background: rgb(0, 0, 0);
    }
    .main-body .card:nth-child(n+7) h3 {
        /*bottom: inherit;*/
        margin-top: 5px;
        top: 0;
    }
    .secondary-body {
        grid-template-columns: repeat(4, 1fr);
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}